header.apresentacao {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.sakura-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 15px;
}

h1.special-title {
  font-family: Georgia, serif;
  font-weight: 500;
  font-style: italic;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height:calc(100vh - 230px);
  font-size: 1rem;
}

@keyframes sakura-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* MEDIAS */
@media (max-width: 768px){
    header.apresentacao {
    min-height: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sakura-logo {
    animation: sakura-logo-spin infinite 20s linear;
  }
}
