.portifa-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portifa-section p:not(.linkToProject p) {
  margin-top: 30px;
}

.works-cards-container {
  align-items: center;
  width: 100%;
}

.work-card {
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.img-section {
  max-width: 550px;
} 

.details-text {
  max-width: 300px;
  text-align: start;
}

.linkToProject {
  display: flex;
  align-items: center;
}

.linkToProject a {
  color: #FDA9A9;
  /* text-decoration: none; */
  font-size: 1rem;
  margin-left: 1rem;
}

.linkToProject a:hover {
  opacity: .8;
  text-decoration: underline;
  transition: all .3s;
}
