.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: #FDA9A9;
  letter-spacing: 2px;
}


h2 {
  font-weight: 500;
  font-size: 1.1rem;
}

ul li a, p {
  font-size: 1rem; 
}

@media (max-width: 768px) {
  .main-container {
    padding-inline: 30px;
  }
  .main-title {
    font-size: 1.8rem;
  }
}