html {
  scroll-behavior: smooth;
}

div#root {
  min-height: 100vh;
}

body {
  margin: 0;
  color: #FDA9A9;
  font-family: source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050505;
}
